.container{
  width: 100%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

ul {
  padding-left: 0rem;
}

.container ul::before {
	background: var(--kinedu-blue);
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	left: 0px;
	top: 21px;
}

.container ul::after {
	background: #dddbdb;
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	right: 0px;
	top: 21px;
}

.timeline{
  counter-reset: none;
  position: relative;
}

.timeline li{
  list-style: none;
  float: left;
  width: 33.3333%;
  position: relative;
  text-align: center;
  text-transform: none;
}

ul:nth-child(1){
  color: #dddbdb;
  font-size: 12px;
}

.timeline li:before{
  content: '';
  width: 50px;
  height: 50px;
  border: 3px solid #dddbdb;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 10px auto;
  background: aliceblue;
  color: #000;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.timeline li:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #dddbdb;
  top: 25px;
  left: -50%;
  z-index: -999;
  transition: all ease-in-out .3s;
}

.timeline li:first-child:after{
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--kinedu-blue);
  top: 25px;
  left: 0%;
  z-index: -999;
  transition: all ease-in-out .3s;
}

.timeline li:last-child::after{
  content: "";
  position: absolute;
  width: 150%;
  height: 2px;
  background-color: #dddbdb;
  top: 25px;
  right: -50%;
  z-index: -999;
  transition: all ease-in-out .3s;
}

.timeline li.active-tl{
  color: var(--kinedu-black);
}

.timeline li.active-tl:before{
  background: url(../../../../assets/images/avatar.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: aliceblue;
  border-radius: 50%;
  border: 3px solid var(--kinedu-blue);
  color: #F1F1F1;
}

.timeline li.active-tl + li:after{
  background: #dddbdb;
}


.timeline li.parents-profile:before{
  background: url(../../../../assets/images/foster-mother.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: aliceblue;
  border-radius: 50%;
  color: #F1F1F1;
}


.timeline li.babys-profile:before{
  background: url(../../../../assets/images/baby-boy.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: aliceblue;
  border-radius: 50%;
  color: #F1F1F1;
}
