<div class="container h-100">
    <div class="h-100 d-flex justify-content-center fade-in3">
        <div class="brandname">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="../../../favicon.ico">
                        </td>
                        <td>
                            TaskDart
                        </td>
                    </tr>
                </tbody>
            </table>  
        </div>
        <span class="subtitle">Connecting people in Ghana who need work done with people who want to work</span>
        <span class="mt-4" (click)="openPlayStore()"><img class="playstore" src="../../../assets/images/google-play-badge.png"></span>
    </div>
</div>